/*color palet
darkBlue: #26547C;
red: #EF476F;
yellow: #89BBFE;
lightGreen: #ffd289;
white: #FCFCFC;
*/

body {
  padding: 0;
  margin: 0;
  font: 20px "Catamaran", sans-serif;
}

a {
  color: #00B7FF;
}
p{
	padding: 0;
	margin: 0;
}
#backgroundBox{
	z-index: -100;
	position: fixed;
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #ffd289;
}


mainTitle{
	position: relative;
	font-size: 75px;
	top: 30px;
	line-height: 200px;
}

quote{
	font-size: 30px;
	margin-left: 170px;
	position: relative;
	top: -50px;
}

.physicist{
	color: #F4D35E;
}
.programmer{
	color: #DA4167;
}
.student{
	color: #F78764;
}
.redditor{
	color: #5B85AA;
}
#mainBox{
	z-index: -50;
	top: -100px;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	margin: auto;
	height: 400px;
	width: 700px;
	background-color: #FCFCFC;
	box-shadow: 0 0 20px #000000;
}

#mainBox ul{
	text-align: center;
	padding: 0;
}
#mainBox ul li{
	position: relative;
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
}

#titleBox{
	z-index: -25;
	display: block;
	width: 700px;
	height: 248px;
	border-bottom: 2px solid black;

}

#aboutSec{
	position: absolute;
	overflow: hidden;
	display: block;
	width: 349px;
	height: 150px;
	background-color: #89BBFE;
	border-right: 2px solid black;
	line-height: 150px;
}


#aboutSec ul{
	line-height: 75px;
	padding: 0;
}

#aboutSec ul li{
	opacity: 0;
	display: inline-block;
	font-size: 20px;
	width: 345px;
	margin: 2px;
	height: 75px;
	background-color: #FCFCFC;
}

#aboutSec ul li:hover{
	background-color: #c6deff;
	cursor: pointer;
}

aboutTitle{
	font-size: 35px;
}
aboutTitle:hover{
	cursor: pointer;
}

.abtSec{
	opacity: 0;
}

#projectsSec{
	position: absolute;
	overflow: hidden;
	display: block;
	width: 349px;
	height: 150px;
	left: 351px;
	background-color: #89BBFE;
	line-height: 150px;
}

#projectsSec ul{
	line-height: 75px;
	padding: 0;
}

#projectsSec ul li{
	display: inline-block;
	font-size: 20px;
	opacity: 0;
	width: 345px;
	margin: 2px;
	height: 75px;
	background-color: #FCFCFC;
}

#projectsSec ul li:hover{
	background-color: #c6deff;
	cursor: pointer;
}

projectsTitle{
	font-size: 35px;
}
projectsTitle:hover{
	cursor: pointer;
}

.projSec{
	opacity: 0;
}

#aboutBox {
	z-index: 1000;
	position: fixed;
	margin: 0;
	padding: 0;
	left: -75vw;
	height: 100vh;
	width: 75vw;
	background-color:  #26547C;
}

.abtBoxes{
	color: white;
	position: fixed;
	overflow: scroll;
	margin: 0;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 10vh;
	padding-bottom: 10vh;
	left: 0;
	height: 80vh;
	width: 55vw;
	z-index: -1001;
	opacity: 0;
}

.projBoxes{
	position: fixed;
	overflow: scroll;
	margin: 0;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 10vh;
	padding-bottom: 10vh;
	right: 0;
	height: 80vh;
	width: 55vw;
	z-index: -1001;
	opacity: 0;
}


#projectBox{
	z-index: 1000;
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	right: -75vw;
	height: 100vh;
	width: 75vw;
	background-color: #EF476F;
}

#rightBackButtonBox{
	z-index: -2000;
	position: fixed;
	display: none;
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	width: 25vw;
	height: 100vh;
}
#rightBackButtonBox:hover{
	cursor: pointer;
	opacity: 0.5;
}

.rightBackText{
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	color: #ffc363;
	font-size: 26vmin;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
}


#leftBackButtonBox{
	z-index: -2000;
	position: fixed;
	display: none;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 25vw;
	height: 100vh;
}
#leftBackButtonBox:hover{
	cursor: pointer;
	opacity: 0.5;
}

.leftBackText{
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	color: #ffc363;
	font-size: 26vmin;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
